img {
	background image: cover;
}
body{
	text-align: center;
	background-image: images.135H.jpg;
	background-size: cover;
}
h3 {
	font-style: italic;
	font-family: Helvetica;
}
ul {
	padding: 20ps;
	background-color: #000000;
}
li {
	display: inline;
	padding: 0px 20px 0px 20px;
}